# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

.next

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

service_acc_credentials.txt
lib/models/whatapp-system-app-8d12a3d94f89.json

# typescript
*.tsbuildinfo
next-env.d.ts

*key*.json


.wwebjs_auth

credentials.json

whatapp-system-app-d01af6487c45.json
my-k8s-sa-key.json
whatapp-system-app-8332e06e3418.json