@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
a {
  color: #16A34A; /* Customize color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #15803D; /* Customize hover color */
  text-decoration: underline; /* Optional hover effect */
}

.dashboard-sidebar {
  width: 200px; /* Adjust the width as needed */
  background-color: #f4f4f4; /* Sidebar background color */
  padding: 20px;
}
