name: Vercel Cron Trigger v2

on:
  schedule:
    # Run this action every minute
    - cron: "*/1 * * * *"

jobs:
  trigger-cron:
    runs-on: ubuntu-latest

    steps:
      - name: Send GET request to Vercel Cron API v2
        run: curl -X GET https://mom-ai-restaurant.lat/api/cron
